 /* wallust template - colors-waybar */

@define-color foreground #F2FBFE;
@define-color background rgba(19,19,24,0.25);
@define-color cursor #98A4CC;

@define-color color0 #3B3A40;
@define-color color1 #2F3A73;
@define-color color2 #2F3A73;
@define-color color3 #333F77;
@define-color color4 #566799;
@define-color color5 #758AB7;
@define-color color6 #A4B6BE;
@define-color color7 #E5F1F6;
@define-color color8 #A0A8AC;
@define-color color9 #3E4D99;
@define-color color10 #3E4D99;
@define-color color11 #44549F;
@define-color color12 #7389CC;
@define-color color13 #9CB8F4;
@define-color color14 #DBF3FD;
@define-color color15 #E5F1F6;
