@import "./reset.gtk.css";
@import "./colors-swaync.css";
@import "./basic.gtk.css";
@import "./control-center.gtk.css";
@import "./floating.gtk.css";
@import "./mpris.css";

.widget-dnd {
  margin: 0px;
  font-size: 1.1rem;
}

.widget-dnd>switch {
  font-size: initial;
  border-radius: 8px;
  background: @color1;
  box-shadow: none;
  border: none;
}

.widget-dnd>switch slider {
  background: @color13;
  border-radius: 8px;
  border: none;
}

.widget-dnd>switch:checked slider {
  background: @color13;
}
