 /* wallust template - colors-swaync */

 @define-color text #FAF8F3;
 @define-color background rgba(49, 48, 47, 1);
 @define-color background-alt #31302F;
 @define-color cursor #96948F;
 @define-color hovered #978E85;
 @define-color button-background #B6B0A5;
 @define-color button-active #252421;
 @define-color border #32302C;
 @define-color urgent #F0EDE5;

 @define-color color0 #555554;
 @define-color color1 #252421;
 @define-color color2 #252421;
 @define-color color3 #665F59;
 @define-color color4 #716A64;
 @define-color color5 #B6B0A5;
 @define-color color6 #B6B0A5;
 @define-color color7 #F0EDE5;
 @define-color color8 #A8A6A0;
 @define-color color9 #32302C;
 @define-color color10 #32302C;
 @define-color color11 #887F77;
 @define-color color12 #978E85;
 @define-color color13 #F2EBDC;
 @define-color color14 #F2EBDC;
 @define-color color15 #F0EDE5;
